<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-multi-level-implicit-pointer-conversion</string>
			<key>description</key>
			<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a800d73000b15bbbdf4de83cc5dbe76a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>40</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>156</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>40</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>156</integer>
					</dict>
					<key>message</key>
					<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-multi-level-implicit-pointer-conversion</string>
			<key>description</key>
			<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>ebb6de2cdbe0ade153703ada7b96b338</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>50</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>157</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>50</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>157</integer>
					</dict>
					<key>message</key>
					<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-multi-level-implicit-pointer-conversion</string>
			<key>description</key>
			<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>492eb77fef63fbec6ac373430e730be3</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>46</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>158</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>46</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>158</integer>
					</dict>
					<key>message</key>
					<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-multi-level-implicit-pointer-conversion</string>
			<key>description</key>
			<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>b0a52764e8d133b879f81db667e95ada</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>46</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>159</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>46</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>159</integer>
					</dict>
					<key>message</key>
					<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-multi-level-implicit-pointer-conversion</string>
			<key>description</key>
			<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9784bae4baf51cc1f3f82e482f7fdfbb</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>50</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>160</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>50</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>160</integer>
					</dict>
					<key>message</key>
					<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-multi-level-implicit-pointer-conversion</string>
			<key>description</key>
			<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>82cccb92f9cdaff09744b24365f29ff7</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>47</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>161</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>47</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>161</integer>
					</dict>
					<key>message</key>
					<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-multi-level-implicit-pointer-conversion</string>
			<key>description</key>
			<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>378fd516c0be49a798b53bdc680a6fbe</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>46</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>162</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>46</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>162</integer>
					</dict>
					<key>message</key>
					<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-multi-level-implicit-pointer-conversion</string>
			<key>description</key>
			<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>e8522467289ffeb210ab553bd625f2fb</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>43</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>163</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>43</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>163</integer>
					</dict>
					<key>message</key>
					<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-multi-level-implicit-pointer-conversion</string>
			<key>description</key>
			<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>7b22b66b6a251ce87c94605620382948</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>46</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>164</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>46</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>164</integer>
					</dict>
					<key>message</key>
					<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-multi-level-implicit-pointer-conversion</string>
			<key>description</key>
			<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>abbdb05fdbca2a336d94ebaaa9ff8dc6</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>43</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>165</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>43</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>165</integer>
					</dict>
					<key>message</key>
					<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cert</string>
			<key>check_name</key>
			<string>cert-err33-c</string>
			<key>description</key>
			<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>bafd0e34a17ace2a1bce983d8c4f3aa5</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>175</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>175</integer>
					</dict>
					<key>message</key>
					<string>cast the expression to void to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>175</integer>
					</dict>
					<key>message</key>
					<string>the value returned by this function should not be disregarded; neglecting it may lead to errors</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/jan/parcio/julea/tools/config.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.1</string>
		</dict>
	</dict>
</dict>
</plist>
