<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'gsize' (aka 'unsigned long') of a multiplication performed in type 'int'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>641233d5ec1b1b86b1d69174886afb10</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>24</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>161</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>24</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>161</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>24</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>161</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'gsize' (aka 'unsigned long') of a multiplication performed in type 'int'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'int'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>7e581b7e20f12ccf8864a5429f1369a8</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>60</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>174</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>60</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>174</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>60</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>174</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'int'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'int'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>945cb2f6c917d41ebbab61058ff9ab2f</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>48</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>188</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>48</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>188</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>48</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>188</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'int'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'gsize' (aka 'unsigned long') of a multiplication performed in type 'int'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>b9bf9976387fdb6ecedc5a85111d9cd7</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>43</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>205</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>43</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>205</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>43</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>205</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'gsize' (aka 'unsigned long') of a multiplication performed in type 'int'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'int'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2c1b6a33a240df592df2d5d691abb66c</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>20</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>244</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>20</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>244</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>20</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>244</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'int'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-header-include-cycle</string>
			<key>description</key>
			<string>circular header file dependency detected while including 'jcollection.h', please check the include path</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>db9ad4c416b5261ca3f58a788478f416</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>10</integer>
				<key>file</key>
				<integer>2</integer>
				<key>line</key>
				<integer>50</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>26</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>26</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>42</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>42</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>50</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>50</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>26</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>26</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>42</integer>
					</dict>
					<key>message</key>
					<string>'jitem.h' included from here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>26</integer>
					</dict>
					<key>message</key>
					<string>'jcollection.h' included from here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>50</integer>
					</dict>
					<key>message</key>
					<string>circular header file dependency detected while including 'jcollection.h', please check the include path</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/jan/parcio/julea/cli/copy.c</string>
		<string>/home/jan/parcio/julea/include/item/jcollection.h</string>
		<string>/home/jan/parcio/julea/include/item/jitem.h</string>
		<string>/home/jan/parcio/julea/include/julea-item.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.1</string>
		</dict>
	</dict>
</dict>
</plist>
