<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-narrowing-conversions</string>
			<key>description</key>
			<string>narrowing conversion from 'guint' (aka 'unsigned int') to signed type 'int' is implementation-defined</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9f21d2e70b4a47a81988b2520f7c7365</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>13</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>115</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>13</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>115</integer>
					</dict>
					<key>message</key>
					<string>narrowing conversion from 'guint' (aka 'unsigned int') to signed type 'int' is implementation-defined</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'gint64' (aka 'long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>ed35de63f50d3286f4d235a2d480cc54</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>32</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>144</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>32</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>144</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>32</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>144</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'gint64' (aka 'long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>37bffafb4715fff93b2b7f38a59fbcdc</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>20</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>214</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>20</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>214</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>20</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>214</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-multi-level-implicit-pointer-conversion</string>
			<key>description</key>
			<string>multilevel pointer conversion from 'void *' to 'gpointer *' (aka 'void **'), please use explicit cast</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a58c1a2de822ddfef321e25421690f1d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>18</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>274</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>18</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>274</integer>
					</dict>
					<key>message</key>
					<string>multilevel pointer conversion from 'void *' to 'gpointer *' (aka 'void **'), please use explicit cast</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>37bffafb4715fff93b2b7f38a59fbcdc</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>20</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>290</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>20</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>290</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>20</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>290</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/jan/parcio/julea/benchmark/hdf5/dai.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.1</string>
		</dict>
	</dict>
</dict>
</plist>
