<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>Memory error</string>
			<key>check_name</key>
			<string>unix.Malloc</string>
			<key>description</key>
			<string>Potential leak of memory pointed to by 'dummy'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>8b9f79f2b9f979577e7ce87a611eac65</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>362</integer>
			</dict>
			<key>macro_expansions</key>
			<array>
				<dict>
					<key>expansion</key>
					<string>do {if (ret );else g_assertion_message ("JULEA","/home/jan/parcio/julea/benchmark/object/distributed-object.c",336,((const char *)(__func__ )),"'""ret""' should be TRUE");}while (0)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>336</integer>
					</dict>
					<key>name</key>
					<string>g_assert_true(ret)</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>1</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>314</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>314</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>19</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>27</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>32</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>36</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>19</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>27</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>32</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>36</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>327</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>327</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>317</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>335</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>335</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>327</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>327</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>336</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>336</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>335</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>335</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>338</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>24</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>338</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>336</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>336</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>340</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>340</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>338</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>24</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>338</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>362</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>23</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>362</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>340</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>340</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>381</integer>
					</dict>
					<key>message</key>
					<string>Calling '_benchmark_distributed_object_write'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>381</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>57</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>381</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>314</integer>
					</dict>
					<key>message</key>
					<string>Entered call from 'benchmark_distributed_object_write_batch'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>1</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>314</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>1</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>314</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>327</integer>
					</dict>
					<key>message</key>
					<string>Memory is allocated</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>10</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>327</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>30</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>327</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>336</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'ret' is not equal to 0</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>336</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>19</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>336</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>340</integer>
					</dict>
					<key>message</key>
					<string>Loop body executed 0 times</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>340</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>32</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>340</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>362</integer>
					</dict>
					<key>message</key>
					<string>Potential leak of memory pointed to by 'dummy'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>362</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>362</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/jan/parcio/julea/benchmark/object/distributed-object.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clangsa</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.1</string>
		</dict>
	</dict>
</dict>
</plist>
