<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '_benchmark_distributed_object_create' is reserved because it starts with '_' at global scope</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>355028485cc11046164b1da5c6186710</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>1</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>31</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>31</integer>
					</dict>
					<key>message</key>
					<string>identifier '_benchmark_distributed_object_create' is reserved because it starts with '_' at global scope</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '_benchmark_distributed_object_delete' is reserved because it starts with '_' at global scope</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2185658e6fcf612e3d6c8c20b50e2297</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>1</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>96</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>96</integer>
					</dict>
					<key>message</key>
					<string>identifier '_benchmark_distributed_object_delete' is reserved because it starts with '_' at global scope</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '_benchmark_distributed_object_status' is reserved because it starts with '_' at global scope</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>443a0cb0eacdf497a977670579a9450a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>1</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>168</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>168</integer>
					</dict>
					<key>message</key>
					<string>identifier '_benchmark_distributed_object_status' is reserved because it starts with '_' at global scope</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '_benchmark_distributed_object_read' is reserved because it starts with '_' at global scope</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>afdba8f12caefbcbc6abcc2136b4e653</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>1</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>238</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>238</integer>
					</dict>
					<key>message</key>
					<string>identifier '_benchmark_distributed_object_read' is reserved because it starts with '_' at global scope</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>bf2cf8bd22f05414d96be690e279e63d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>57</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>261</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>57</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>261</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>57</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>261</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>aeb1d490ba76b1fccd698e0cf574c1b7</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>27</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>266</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>27</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>266</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>27</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>266</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9d60ffdfb87f1b9ed825a4d10fbd5354</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>57</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>274</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>57</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>274</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>57</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>274</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>51e18aa4c87fea21efd62d922b45337e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>29</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>288</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>29</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>288</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>29</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>288</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2f5a64ef8b2585f92b204ef42898a9ec</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>299</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>299</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>299</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '_benchmark_distributed_object_write' is reserved because it starts with '_' at global scope</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>16f90b3803a23ba7502215775bdc6d22</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>1</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>315</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>315</integer>
					</dict>
					<key>message</key>
					<string>identifier '_benchmark_distributed_object_write' is reserved because it starts with '_' at global scope</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>7c8616d511a6084f4b7659f5cf89fa70</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>58</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>344</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>58</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>344</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>58</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>344</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>51e18aa4c87fea21efd62d922b45337e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>29</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>358</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>29</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>358</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>29</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>358</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2f5a64ef8b2585f92b204ef42898a9ec</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>369</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>369</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>369</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '_benchmark_distributed_object_unordered_create_delete' is reserved because it starts with '_' at global scope</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>acd8eda71ab5ef133884847d55bde74a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>1</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>385</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>385</integer>
					</dict>
					<key>message</key>
					<string>identifier '_benchmark_distributed_object_unordered_create_delete' is reserved because it starts with '_' at global scope</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>3813039085b3c1ed3de285d8ab5d8c08</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>20</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>428</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>20</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>428</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>20</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>428</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'guint' (aka 'unsigned int')</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/jan/parcio/julea/benchmark/object/distributed-object.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.1</string>
		</dict>
	</dict>
</dict>
</plist>
