<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>Logic error</string>
			<key>check_name</key>
			<string>optin.core.EnumCastOutOfRange</string>
			<key>description</key>
			<string>The value '7' provided to the cast expression is not in the valid range of values for the enum</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>ee0671da2b9b123a3b5ab63b075ca391</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>114</integer>
			</dict>
			<key>macro_expansions</key>
			<array>
				<dict>
					<key>expansion</key>
					<string>if (g_test_subprocess ()){</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>108</integer>
					</dict>
					<key>name</key>
					<string>J_TEST_TRAP_START</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>}else {g_test_trap_subprocess (((void *)0),0,G_TEST_SUBPROCESS_INHERIT_STDIN |G_TEST_SUBPROCESS_INHERIT_STDOUT |G_TEST_SUBPROCESS_INHERIT_STDERR );g_test_trap_assertions ("JULEA","/home/jan/parcio/julea/test/hdf5/hdf-attribute.c",114,((const char *)(__func__ )),0,0);}</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>114</integer>
					</dict>
					<key>name</key>
					<string>J_TEST_TRAP_END</string>
				</dict>
			</array>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>539</integer>
					</dict>
					<key>message</key>
					<string>enum declared here</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>539</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>12</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>539</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>108</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>108</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>99</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>99</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>108</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is false</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>108</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>108</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>114</integer>
					</dict>
					<key>message</key>
					<string>The value '7' provided to the cast expression is not in the valid range of values for the enum</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>114</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>16</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>114</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Logic error</string>
			<key>check_name</key>
			<string>optin.core.EnumCastOutOfRange</string>
			<key>description</key>
			<string>The value '7' provided to the cast expression is not in the valid range of values for the enum</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>57a77f52331ed4bcd5c8a1a501e4f597</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>152</integer>
			</dict>
			<key>macro_expansions</key>
			<array>
				<dict>
					<key>expansion</key>
					<string>if (g_test_subprocess ()){</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>135</integer>
					</dict>
					<key>name</key>
					<string>J_TEST_TRAP_START</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>}else {g_test_trap_subprocess (((void *)0),0,G_TEST_SUBPROCESS_INHERIT_STDIN |G_TEST_SUBPROCESS_INHERIT_STDOUT |G_TEST_SUBPROCESS_INHERIT_STDERR );g_test_trap_assertions ("JULEA","/home/jan/parcio/julea/test/hdf5/hdf-attribute.c",152,((const char *)(__func__ )),0,0);}</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>152</integer>
					</dict>
					<key>name</key>
					<string>J_TEST_TRAP_END</string>
				</dict>
			</array>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>539</integer>
					</dict>
					<key>message</key>
					<string>enum declared here</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>539</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>12</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>539</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>135</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>135</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>123</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>123</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>135</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is false</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>135</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>135</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>152</integer>
					</dict>
					<key>message</key>
					<string>The value '7' provided to the cast expression is not in the valid range of values for the enum</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>152</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>16</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>152</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Logic error</string>
			<key>check_name</key>
			<string>optin.core.EnumCastOutOfRange</string>
			<key>description</key>
			<string>The value '7' provided to the cast expression is not in the valid range of values for the enum</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d0752484d7f9929f6a8b51d7af8f695a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>194</integer>
			</dict>
			<key>macro_expansions</key>
			<array>
				<dict>
					<key>expansion</key>
					<string>if (g_test_subprocess ()){</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>173</integer>
					</dict>
					<key>name</key>
					<string>J_TEST_TRAP_START</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>}else {g_test_trap_subprocess (((void *)0),0,G_TEST_SUBPROCESS_INHERIT_STDIN |G_TEST_SUBPROCESS_INHERIT_STDOUT |G_TEST_SUBPROCESS_INHERIT_STDERR );g_test_trap_assertions ("JULEA","/home/jan/parcio/julea/test/hdf5/hdf-attribute.c",194,((const char *)(__func__ )),0,0);}</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>194</integer>
					</dict>
					<key>name</key>
					<string>J_TEST_TRAP_END</string>
				</dict>
			</array>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>539</integer>
					</dict>
					<key>message</key>
					<string>enum declared here</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>539</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>12</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>539</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>173</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>173</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>161</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>161</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>173</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is false</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>173</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>173</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>194</integer>
					</dict>
					<key>message</key>
					<string>The value '7' provided to the cast expression is not in the valid range of values for the enum</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>194</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>16</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>194</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Logic error</string>
			<key>check_name</key>
			<string>optin.core.EnumCastOutOfRange</string>
			<key>description</key>
			<string>The value '7' provided to the cast expression is not in the valid range of values for the enum</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a011525959d847ef1ac13fb3c6ee2878</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>218</integer>
			</dict>
			<key>macro_expansions</key>
			<array>
				<dict>
					<key>expansion</key>
					<string>if (g_test_subprocess ()){</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>207</integer>
					</dict>
					<key>name</key>
					<string>J_TEST_TRAP_START</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>}else {g_test_trap_subprocess (((void *)0),0,G_TEST_SUBPROCESS_INHERIT_STDIN |G_TEST_SUBPROCESS_INHERIT_STDOUT |G_TEST_SUBPROCESS_INHERIT_STDERR );g_test_trap_assertions ("JULEA","/home/jan/parcio/julea/test/hdf5/hdf-attribute.c",218,((const char *)(__func__ )),0,0);}</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>218</integer>
					</dict>
					<key>name</key>
					<string>J_TEST_TRAP_END</string>
				</dict>
			</array>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>539</integer>
					</dict>
					<key>message</key>
					<string>enum declared here</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>539</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>12</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>539</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>207</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>207</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>203</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>12</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>203</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>207</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is false</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>207</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>207</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>218</integer>
					</dict>
					<key>message</key>
					<string>The value '7' provided to the cast expression is not in the valid range of values for the enum</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>218</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>16</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>218</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Logic error</string>
			<key>check_name</key>
			<string>optin.core.EnumCastOutOfRange</string>
			<key>description</key>
			<string>The value '7' provided to the cast expression is not in the valid range of values for the enum</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>762fec7b45f3ccb2b58dac9ca5e4e2ff</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>273</integer>
			</dict>
			<key>macro_expansions</key>
			<array>
				<dict>
					<key>expansion</key>
					<string>if (g_test_subprocess ()){</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>243</integer>
					</dict>
					<key>name</key>
					<string>J_TEST_TRAP_START</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>}else {g_test_trap_subprocess (((void *)0),0,G_TEST_SUBPROCESS_INHERIT_STDIN |G_TEST_SUBPROCESS_INHERIT_STDOUT |G_TEST_SUBPROCESS_INHERIT_STDERR );g_test_trap_assertions ("JULEA","/home/jan/parcio/julea/test/hdf5/hdf-attribute.c",273,((const char *)(__func__ )),0,0);}</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>273</integer>
					</dict>
					<key>name</key>
					<string>J_TEST_TRAP_END</string>
				</dict>
			</array>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>539</integer>
					</dict>
					<key>message</key>
					<string>enum declared here</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>539</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>12</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>539</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>243</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>243</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>236</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>236</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>243</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is false</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>243</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>243</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>273</integer>
					</dict>
					<key>message</key>
					<string>The value '7' provided to the cast expression is not in the valid range of values for the enum</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>273</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>16</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>273</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/jan/parcio/julea/test/hdf5/hdf-attribute.c</string>
		<string>/usr/include/glib-2.0/glib/gtestutils.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clangsa</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.1</string>
		</dict>
	</dict>
</dict>
</plist>
