<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'int'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5582dfc1b7e54cfb31aa948f4df18d05</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>39</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>342</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>39</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>342</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>39</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>342</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'int'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-implicit-widening-of-multiplication-result</string>
			<key>description</key>
			<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'int'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9bd9258898418cd0b3b71177bb2444b6</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>32</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>364</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>32</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>364</integer>
					</dict>
					<key>message</key>
					<string>make conversion explicit to silence this warning</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>32</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>364</integer>
					</dict>
					<key>message</key>
					<string>performing an implicit widening conversion to type 'guint64' (aka 'unsigned long') of a multiplication performed in type 'int'</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/jan/parcio/julea/lib/core/jconfiguration.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.1</string>
		</dict>
	</dict>
</dict>
</plist>
