<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>Logic error</string>
			<key>check_name</key>
			<string>core.NullDereference</string>
			<key>description</key>
			<string>Access to field 'join_schema' results in a dereference of a null pointer (loaded from variable 'selector')</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>713e1a262806aac55284944e4c7f8c4a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>235</integer>
			</dict>
			<key>macro_expansions</key>
			<array>
				<dict>
					<key>expansion</key>
					<string>__attribute__ ((cleanup (glib_autoptr_cleanup_JTrace )))JTrace_autoptr j_trace_function6 __attribute__ ((__unused__ ))=j_trace_enter (((const char *)(__func__ )),((void *)0))</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>229</integer>
					</dict>
					<key>name</key>
					<string>J_TRACE_FUNCTION(NULL)</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>do {if ((entry !=((void *)0))){}else {g_return_if_fail_warning ("JULEA",((const char *)(__func__ )),"entry != NULL");return ((0));}}while (0)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>231</integer>
					</dict>
					<key>name</key>
					<string>g_return_val_if_fail(entry != NULL, FALSE)</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>do {if ((batch !=((void *)0))){}else {g_return_if_fail_warning ("JULEA",((const char *)(__func__ )),"batch != NULL");return ((0));}}while (0)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>232</integer>
					</dict>
					<key>name</key>
					<string>g_return_val_if_fail(batch != NULL, FALSE)</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>do {if (((selector ==((void *)0))||(selector -&gt;schema ==entry -&gt;schema ))){}else {g_return_if_fail_warning ("JULEA",((const char *)(__func__ )),"(selector == NULL) || (selector-&gt;schema == entry-&gt;schema)");return ((0));}}while (0)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>233</integer>
					</dict>
					<key>name</key>
					<string>g_return_val_if_fail((selector == NULL) || (selector-&gt;schema == entry-&gt;schema), FALSE)</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>do {if ((error ==((void *)0)||*error ==((void *)0))){}else {g_return_if_fail_warning ("JULEA",((const char *)(__func__ )),"error == NULL || *error == NULL");return ((0));}}while (0)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>234</integer>
					</dict>
					<key>name</key>
					<string>g_return_val_if_fail(error == NULL || *error == NULL, FALSE)</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>do {if ((g_hash_table_size (selector -&gt;join_schema )&lt;2)){}else {g_return_if_fail_warning ("JULEA",((const char *)(__func__ )),"g_hash_table_size(selector-&gt;join_schema) &lt; 2");return ((0));}}while (0)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>235</integer>
					</dict>
					<key>name</key>
					<string>g_return_val_if_fail(g_hash_table_size(selector-&gt;join_schema) &lt; 2, FALSE)</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>232</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>43</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>232</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>231</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>43</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>231</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>233</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>87</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>233</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>232</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>43</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>232</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>234</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>61</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>234</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>233</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>87</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>233</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>235</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>74</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>235</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>234</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>61</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>234</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>231</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'entry' is not equal to null</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>231</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>43</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>231</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>232</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'batch' is not equal to null</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>232</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>43</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>232</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>233</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'selector' is equal to null</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>233</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>87</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>233</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>234</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'error' is equal to null</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>234</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>61</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>234</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>235</integer>
					</dict>
					<key>message</key>
					<string>Access to field 'join_schema' results in a dereference of a null pointer (loaded from variable 'selector')</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>2</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>235</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>74</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>235</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/jan/parcio/julea/lib/db/jdb-entry.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clangsa</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.1</string>
		</dict>
	</dict>
</dict>
</plist>
