<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-not-null-terminated-result</string>
			<key>description</key>
			<string>the result from calling 'memcpy' is not null-terminated</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>6da025d67fa4a7db572930ed312a6c54</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>57</integer>
			</dict>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>57</integer>
					</dict>
					<key>message</key>
					<string>strcpy (fixit)</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>57</integer>
					</dict>
					<key>message</key>
					<string>the result from calling 'memcpy' is not null-terminated</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-reserved-identifier</string>
			<key>description</key>
			<string>identifier '_J_HDF5_OBJECT_TYPE_COUNT' is reserved because it starts with '_' followed by a capital letter</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>894c6d449928f2cb5fc6f797301b71eb</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>41</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>41</integer>
					</dict>
					<key>message</key>
					<string>identifier '_J_HDF5_OBJECT_TYPE_COUNT' is reserved because it starts with '_' followed by a capital letter</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>readability</string>
			<key>check_name</key>
			<string>readability-enum-initial-value</string>
			<key>description</key>
			<string>initial values in enum '&lt;unnamed&gt;' are not consistent, consider explicit initialization of all, none or only the first enumerator</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>681119db9b521ca4c265b01fe13ad1f0</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>2</integer>
				<key>line</key>
				<integer>303</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>303</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>303</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>41</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>41</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>41</integer>
					</dict>
					<key>message</key>
					<string>assuming that this constant is just an auxiliary value and not used for indicating a valid union data member [bugprone-tagged-union-member-count]</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>41</integer>
					</dict>
					<key>message</key>
					<string>assuming that this constant is just an auxiliary value and not used for indicating a valid union data member [bugprone-tagged-union-member-count]</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>303</integer>
					</dict>
					<key>message</key>
					<string>initial values in enum '&lt;unnamed&gt;' are not consistent, consider explicit initialization of all, none or only the first enumerator</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/jan/parcio/julea/lib/hdf5-db/jhdf5-db-shared.c</string>
		<string>/home/jan/parcio/julea/lib/hdf5-db/jhdf5-db.h</string>
		<string>/usr/include/glib-2.0/gio/gsettings.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.1</string>
		</dict>
	</dict>
</dict>
</plist>
