<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-signed-char-misuse</string>
			<key>description</key>
			<string>'signed char' to 'gint' (aka 'int') conversion; consider casting to 'unsigned char' first.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>87f2e79d26f494b9e5428d006acc9b15</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>33</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>77</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>33</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>77</integer>
					</dict>
					<key>message</key>
					<string>'signed char' to 'gint' (aka 'int') conversion; consider casting to 'unsigned char' first.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-multi-level-implicit-pointer-conversion</string>
			<key>description</key>
			<string>multilevel pointer conversion from 'void *' to 'mysql_stmt_wrapper **' (aka 'struct mysql_stmt_wrapper **'), please use explicit cast</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5048fe00094ea205dd1006647f9966ad</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>34</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>118</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>34</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>118</integer>
					</dict>
					<key>message</key>
					<string>multilevel pointer conversion from 'void *' to 'mysql_stmt_wrapper **' (aka 'struct mysql_stmt_wrapper **'), please use explicit cast</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-multi-level-implicit-pointer-conversion</string>
			<key>description</key>
			<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>66f4b952ee02e660e7b5c76863059836</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>34</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>189</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>34</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>189</integer>
					</dict>
					<key>message</key>
					<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-multi-level-implicit-pointer-conversion</string>
			<key>description</key>
			<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>bb0ae0d9bd7c27e7ab1b92e6e6a93d83</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>34</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>193</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>34</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>193</integer>
					</dict>
					<key>message</key>
					<string>multilevel pointer conversion from 'const gchar **' (aka 'const char **') to 'void *', please use explicit cast</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-narrowing-conversions</string>
			<key>description</key>
			<string>narrowing conversion from 'int' to signed type 'my_bool' (aka 'char') is implementation-defined</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a272138f9c9eb7e44d829070e0d4be89</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>28</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>375</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>28</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>375</integer>
					</dict>
					<key>message</key>
					<string>narrowing conversion from 'int' to signed type 'my_bool' (aka 'char') is implementation-defined</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-incompatible-pointer-types-discards-qualifiers</string>
			<key>description</key>
			<string>assigning to 'void *' from 'const gchar *' (aka 'const char *') discards qualifiers</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>347dcc5382f89de82907d6a75396e852</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>33</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>376</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>33</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>376</integer>
					</dict>
					<key>message</key>
					<string>assigning to 'void *' from 'const gchar *' (aka 'const char *') discards qualifiers</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-narrowing-conversions</string>
			<key>description</key>
			<string>narrowing conversion from 'int' to signed type 'my_bool' (aka 'char') is implementation-defined</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>068920a8f210bcd16b79d2f1ac4f010e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>28</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>381</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>28</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>381</integer>
					</dict>
					<key>message</key>
					<string>narrowing conversion from 'int' to signed type 'my_bool' (aka 'char') is implementation-defined</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-incompatible-pointer-types-discards-qualifiers</string>
			<key>description</key>
			<string>assigning to 'void *' from 'const gchar *' (aka 'const char *') discards qualifiers</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d8654feef40960ffd60bc87b6ad4df35</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>33</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>382</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>33</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>382</integer>
					</dict>
					<key>message</key>
					<string>assigning to 'void *' from 'const gchar *' (aka 'const char *') discards qualifiers</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-multi-level-implicit-pointer-conversion</string>
			<key>description</key>
			<string>multilevel pointer conversion from 'mysql_stmt_wrapper **' (aka 'struct mysql_stmt_wrapper **') to 'void *', please use explicit cast</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>de71badec6925178f2858fb204d719f0</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>49</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>430</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>49</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>430</integer>
					</dict>
					<key>message</key>
					<string>multilevel pointer conversion from 'mysql_stmt_wrapper **' (aka 'struct mysql_stmt_wrapper **') to 'void *', please use explicit cast</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-signed-char-misuse</string>
			<key>description</key>
			<string>'signed char' to 'gint' (aka 'int') conversion; consider casting to 'unsigned char' first.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>7c84469d71cc54f66df43a43ab5c12d0</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>18</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>480</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>18</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>480</integer>
					</dict>
					<key>message</key>
					<string>'signed char' to 'gint' (aka 'int') conversion; consider casting to 'unsigned char' first.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-signed-char-misuse</string>
			<key>description</key>
			<string>'signed char' to 'gint' (aka 'int') conversion; consider casting to 'unsigned char' first.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d61f8f3c2a07056cecc1b91c57a455b3</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>18</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>489</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>18</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>489</integer>
					</dict>
					<key>message</key>
					<string>'signed char' to 'gint' (aka 'int') conversion; consider casting to 'unsigned char' first.</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/jan/parcio/julea/backend/db/mysql.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.1</string>
		</dict>
	</dict>
</dict>
</plist>
