<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-multi-level-implicit-pointer-conversion</string>
			<key>description</key>
			<string>multilevel pointer conversion from 'void *' to 'gpointer *' (aka 'void **'), please use explicit cast</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>ebf69acc5b245992e2b0dbe16fddeddb</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>56</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>56</integer>
					</dict>
					<key>message</key>
					<string>multilevel pointer conversion from 'void *' to 'gpointer *' (aka 'void **'), please use explicit cast</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-narrowing-conversions</string>
			<key>description</key>
			<string>narrowing conversion from 'guint32' (aka 'unsigned int') to signed type 'gint' (aka 'int') is implementation-defined</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9883c66276ee8d6f71439b15af4d4e1a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>68</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>78</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>68</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>78</integer>
					</dict>
					<key>message</key>
					<string>narrowing conversion from 'guint32' (aka 'unsigned int') to signed type 'gint' (aka 'int') is implementation-defined</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-narrowing-conversions</string>
			<key>description</key>
			<string>narrowing conversion from 'guint32' (aka 'unsigned int') to signed type 'gint' (aka 'int') is implementation-defined</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>7bdd7d97771628aa1b86ebda94c7cea2</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>69</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>140</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>69</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>140</integer>
					</dict>
					<key>message</key>
					<string>narrowing conversion from 'guint32' (aka 'unsigned int') to signed type 'gint' (aka 'int') is implementation-defined</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/jan/parcio/julea/test/kv/parallel.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.1</string>
		</dict>
	</dict>
</dict>
</plist>
