<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>Logic error</string>
			<key>check_name</key>
			<string>optin.core.EnumCastOutOfRange</string>
			<key>description</key>
			<string>The value '0' provided to the cast expression is not in the valid range of values for 'fuse_fill_dir_flags'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>61e757ac29f535f13f9bd4f213fab77e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>31</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>64</integer>
			</dict>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>6</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>57</integer>
					</dict>
					<key>message</key>
					<string>enum declared here</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>6</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>57</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>24</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>57</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>38</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>38</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>29</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>29</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>38</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>38</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>38</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>38</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>44</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>44</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>38</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>38</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>47</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>47</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>44</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>44</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>47</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>47</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>51</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>51</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>51</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>51</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>25</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>50</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>63</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>25</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>61</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>61</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>50</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>63</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>64</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>64</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>61</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>61</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>31</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>64</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>31</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>64</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>64</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>64</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>6</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>38</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is false</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>6</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>38</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>30</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>38</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>Entering loop body</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>49</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>30</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>49</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>59</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is true</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>7</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>59</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>45</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>59</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>50</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>59</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is true</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>50</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>59</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>88</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>59</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>31</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>64</integer>
					</dict>
					<key>message</key>
					<string>The value '0' provided to the cast expression is not in the valid range of values for 'fuse_fill_dir_flags'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>31</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>64</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>31</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>64</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Logic error</string>
			<key>check_name</key>
			<string>optin.core.EnumCastOutOfRange</string>
			<key>description</key>
			<string>The value '0' provided to the cast expression is not in the valid range of values for 'fuse_fill_dir_flags'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>62715e30d5a778bdc7d384633a83e349</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>32</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>68</integer>
			</dict>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>6</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>57</integer>
					</dict>
					<key>message</key>
					<string>enum declared here</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>6</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>57</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>24</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>57</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>38</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>38</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>29</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>29</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>38</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>38</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>38</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>38</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>44</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>44</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>38</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>38</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>47</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>47</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>44</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>44</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>47</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>47</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>51</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>51</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>49</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>51</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>51</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>25</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>68</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>68</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>25</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>59</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>32</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>68</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>32</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>68</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>68</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>68</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>6</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>38</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is false</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>6</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>38</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>30</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>38</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>49</integer>
					</dict>
					<key>message</key>
					<string>Entering loop body</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>49</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>30</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>49</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>59</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is false</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>7</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>59</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>45</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>59</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>32</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>68</integer>
					</dict>
					<key>message</key>
					<string>The value '0' provided to the cast expression is not in the valid range of values for 'fuse_fill_dir_flags'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>32</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>68</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>32</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>68</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/jan/parcio/julea/dependencies/opt/spack/linux-skylake/libfuse-3.16.2-mjgngdhqotyqxgnojdq3x3yjlysratio/include/fuse3/fuse.h</string>
		<string>/home/jan/parcio/julea/fuse/readdir.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clangsa</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.1</string>
		</dict>
	</dict>
</dict>
</plist>
