<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-narrowing-conversions</string>
			<key>description</key>
			<string>narrowing conversion from 'guint' (aka 'unsigned int') to signed type 'gint32' (aka 'int') is implementation-defined</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>224802b2b0e4347737dca07b7d238351</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>46</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>127</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>46</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>127</integer>
					</dict>
					<key>message</key>
					<string>narrowing conversion from 'guint' (aka 'unsigned int') to signed type 'gint32' (aka 'int') is implementation-defined</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-narrowing-conversions</string>
			<key>description</key>
			<string>narrowing conversion from 'guint64' (aka 'unsigned long') to signed type 'int64_t' (aka 'long') is implementation-defined</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>b30610569b6e4e83b7d09c15fe12975e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>41</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>203</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>41</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>203</integer>
					</dict>
					<key>message</key>
					<string>narrowing conversion from 'guint64' (aka 'unsigned long') to signed type 'int64_t' (aka 'long') is implementation-defined</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-narrowing-conversions</string>
			<key>description</key>
			<string>narrowing conversion from 'guint' (aka 'unsigned int') to signed type 'int32_t' (aka 'int') is implementation-defined</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9dbbc351c1da804ae005ca17b5b76495</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>36</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>204</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>36</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>204</integer>
					</dict>
					<key>message</key>
					<string>narrowing conversion from 'guint' (aka 'unsigned int') to signed type 'int32_t' (aka 'int') is implementation-defined</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/jan/parcio/julea/lib/core/distribution/single-server.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.1</string>
		</dict>
	</dict>
</dict>
</plist>
