<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-narrowing-conversions</string>
			<key>description</key>
			<string>narrowing conversion from 'guint64' (aka 'unsigned long') to signed type 'gint64' (aka 'long') is implementation-defined</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>bcf1c7f44fd5913466298ac142de38dd</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>49</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>151</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>49</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>151</integer>
					</dict>
					<key>message</key>
					<string>narrowing conversion from 'guint64' (aka 'unsigned long') to signed type 'gint64' (aka 'long') is implementation-defined</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-header-include-cycle</string>
			<key>description</key>
			<string>circular header file dependency detected while including 'jcollection.h', please check the include path</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>db9ad4c416b5261ca3f58a788478f416</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>10</integer>
				<key>file</key>
				<integer>2</integer>
				<key>line</key>
				<integer>50</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>26</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>26</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>42</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>42</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>50</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>2</integer>
									<key>line</key>
									<integer>50</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>26</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>3</integer>
									<key>line</key>
									<integer>26</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>42</integer>
					</dict>
					<key>message</key>
					<string>'jitem.h' included from here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>3</integer>
						<key>line</key>
						<integer>26</integer>
					</dict>
					<key>message</key>
					<string>'jcollection.h' included from here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>2</integer>
						<key>line</key>
						<integer>50</integer>
					</dict>
					<key>message</key>
					<string>circular header file dependency detected while including 'jcollection.h', please check the include path</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/jan/parcio/julea/cli/status.c</string>
		<string>/home/jan/parcio/julea/include/item/jcollection.h</string>
		<string>/home/jan/parcio/julea/include/item/jitem.h</string>
		<string>/home/jan/parcio/julea/include/julea-item.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.1</string>
		</dict>
	</dict>
</dict>
</plist>
